@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #111;
}

.resume-body {
  width: 900px;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.left-side {
  padding: 30px 10px;
  width: 280px;
  background: #e2efd2;
  height: auto;
}

.personal-info {
  margin-bottom: 20px;
  text-align: center;
}

.personal-info > .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.personal-info > h1 {
  text-transform: uppercase;
  margin: 10px 0 0 0;
  color: #333;
}

.personal-info > p {
  font-weight: 300;
  color: #333;
  font-size: 13px;
}

.profile-summery {
  margin-bottom: 20px;
  text-align: left;
}

.profile-summery > p {
  margin: 0;
  color: #333;
  text-align: left;
  font-size: 13px;
}

.profile-summery > h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #9bcb5f;
  margin-bottom: 10px;
}

.address-info {
  margin-bottom: 20px;
  text-align: left;
}

.address-info > h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #9bcb5f;
  margin-bottom: 10px;
}

.info-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.info-box > span + div {
  margin: 0 10px;
}

.info-box > span + div > p {
  font-size: 12px;
}

.info-box > span + div > p > a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.info-box > span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9bcb5f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  background: #fff;
  width: calc(100% - 280px);
  padding: 30px;
}

.educations {
  text-align: left;
}

.educations > h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #9bcb5f;
  margin-bottom: 10px;
  color: #6da12c;
}

.education-item {
  margin: 10px 0;
}

.education-item > h3,
p {
  color: #393939;
}

.skill-item {
  margin: 5px 0;
}

.skill-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-level > div {
  width: 100%;
  background: #dfffb6;
  height: 8px;
  border-radius: 5px;
  position: relative;
}

.skill-level > div > span {
  position: absolute;
  background: #9bcb5f;
  height: 8px;
  border-radius: 5px;
}

.skill-level > p {
  padding: 0 10px;
}
